<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NuvoControl.Server.WebConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NuvoControl.Server.WebConsole.Properties.Settings>
            <setting name="NuvoControlRemoteKonfigurationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigurationCheckIntervall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NuvoControlKonfigurationFile" serializeAs="String">
                <value>C:/NuvoControl 2024/NuvoControl/NuvoControl/Config/NuvoControlKonfiguration.xml</value>
            </setting>
            <setting name="NuvoControlDockerKonfigurationFile" serializeAs="String">
                <value>C:/App/Config/NuvoControlKonfiguration.docker.xml</value>
            </setting>
        </NuvoControl.Server.WebConsole.Properties.Settings>
    </applicationSettings>
</configuration>